<div id="main">
    <div id="main-body" class="itemFull">
    	<div id="waitforgps"><br><br><center><h2>Waiting for GPS Fix</h2></center><br><div x-mojo-element="Spinner" id="waiting_spinner" style="margin:auto"></div></div>
		<div id="shoot_accel"><center><table width=320 border=0 cellpadding=15 cellspacing=0><tr><td><small>
			<div style="padding:6px; color:#ffffff" id="shoot_accel_1">1. Hold down the device display away from your body. After a short vibration you are ready to shoot.</div>
			<div style="padding:6px; color:#ffffff" id="shoot_accel_2">2. Swing the device like a golf tee. The volume buttons are showing at the direction you want to shoot.</div>
			<div style="padding:6px; color:#ffffff" id="shoot_accel_3">3. Get the device back in normal position. Another vibration notifies you about the end of the stroke.</div>
		</td></tr></table><img src="images/shoot_accel.png"></small></center><div style='width:100px' id='shoot_accel_cancel' class='palm-button'>Cancel</div></div>
		<div id="shoot"></div>
		<div id=holein><div id="holein_info"></div><div id="holein_hs"></div></div>
		<div id="toofartoball"></div>
		<div id="toolowacc"></div>
		<div id="info"></div>
		<div id="map"></div>
		<div id="slider_bearing" x-mojo-element="Slider"></div>
		<div id="slider_bearing_bg" style="background-image:url(images/bearing_bg.png);"></div>
		<div id="slider_power" x-mojo-element="Slider"></div>
		<div id="slider_power_bg" style="	background-image:url(images/power_bg.png);"></div>
    </div>
</div>