<div id="main">
    <div id="main-body" class="itemFull">
    	<br><center><u><b>VirtualCrossGolf Anleitung</b></u><br>
		<small>Bitte komplett durchlesen!</center>
		<table border=0 cellpadding=5 cellspacing=0>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b><center>Wichtig!</center>GPS muss angeschaltet sein, sonst kannst du dieses Spiel nicht spielen. Die Karte braucht einige Zeit bis sie geladen ist. Du kannst aber schon spielen wenn die Karte noch nicht fertig mit laden ist.</b>
				</td>
			</tr>
		</table>
		<button id='open_faq' class='palm-button'>FAQ's</button>
		<table border=0 cellpadding=5 cellspacing=0>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot1_de.png">
					<b>Beim ersten Start</b> musst du in den Einstellungen deinen Namen eintragen. Dieser Name wird in den Highscores zu sehen sein. Du kannst hier auch noch weitere Einstellungen treffen. "Speichern" sichert die Daten und fährt fort.
				</td>
			</tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot2_de.png">
					Zu den Einstellungen gelangst du wieder über das Menü. Damit kannst du jederzeit Änderungen vornehmen.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot3_de.png">
					<b>Die erste Spielart</b> ist ein zufällig generierter Golfkurs. Der Ball wird auf deine aktuelle Position gesetzt. Die Entfernung und Richtung des Loches kannst du mit den Auswahlboxen vorgeben. Eine Highscore gibt es hierbei nicht.
				</td>
			</tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot4_de.png">
					<b>Bei der zweiten Spielart</b> werden schon bestehende Kurse in deiner Umgebung gesucht und runtergeladen. Wenn sich welche in 5km Umkreis befinden, erscheinen sie in der Liste. Die Meterzahl hinter dem Namen gibt die Entfernung zum Start an. Zu jedem Kurs werden weitere Informationen und die Highscore angezeigt.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot5_de.png">
					<b>Um einen neuen Kurs</b> zu erstellen muss man zuerst zu dem Ort gehen, an dem sich das Loch befinden soll. Dann drückt man auf den "Loch setzen"-Button. Nun geht man zur Startposition um den Ball zu setzen.
				</td>
			</tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot6_de.png">
					Nach dem noch die Informationen zu dem Kurs eingegeben wurden, kann dieser auf dem Server gespeichert werden. Man wird nach dem Speichern direkt in das Kursauswahl-Menü gebracht und kann den Kurs dort spielen.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot7_de.png">
					<b>Die Kartenansicht</b> zeigt die aktuelle Position durch den roten Punkt. Der Pfeil zeigt die Abschlagrichtung an. Außerdem werden Golfball und Loch dargestellt. Mit den linken 3 Buttons kann die Kartenansicht verändert werden. Die Karte kann mit dem Finger verschoben werden.
				</td>
			</tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot8_de.png">
					Der mittlere Button fügt der Karte einen neuen Golfball hinzu. Dies ist nur bei generierten Spielen erlaubt. Rechts sind die beiden Abschlagarten zu sehen. "A" ist der Schlag mit Hilfe des Beschleunigungs-Sensors, der andere ist der normale Schlag. Ein Klick auf den Bildschirm bringt einen wieder zur Kartenansicht.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot9_de.png">
					<b>Um Abschlagen</b> zu können muss man nah genug an einem Ball dran sein. Außerdem muss die GPS-Abweichung niedrig genug sein, damit gewährleistet ist, dass man sich auch wirklich an dem Ort befindet. Nach einem Schlag wird die Position des Balles neu berechnet. Beim normalen Schlag gibt die untere Skala die Reichweite vor. Die Richtung wird bei beiden Schlägen durch den Pfeil festgelegt. Um erneut Abschlagen zu können muss man sich nun zu dem Ball hinbegeben.
				</td>
			</tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot10_de.png">
					Um den Beschleunigungs-Schlag durchzuführen einfach den Anweisungen auf dem Bildschirm folgen. Die zurückgelegte Entfernung hängt beim "A"-Schlag von der Schnelligkeit der Bewegung ab.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot11_de.png">
					<b>Wenn der Ball nah genug</b> an ein Loch gespielt wird, fällt er hinein. Es werden die Spielinformationen angezeigt und die Highscore runtergeladen. Sofern in den Einstellungen aktiviert, wird auch der eigene Wert in die Highscore geladen. Durch einen Klick auf den Bildschirm gelangt man wieder ins Hauptmenü.
				</td>
			</tr><tr><td><hr width=85%></td></tr>
		</table>
		</small>
		<button id='tutorial_close' class='palm-button'>Schließen</button>
    </div>
</div>
