<div id="main">
    <div id="main-body" class="itemFull">
    	<br><center><u><b>Über dieses Programm</b></u>
			<h2>VirtualCrossGolf 1.0.2</h2>
			Ein Programm von<br>Sebastian Hammerl<br><br>
			Kontakt:<br><a href="mailto:vcg@omoco.de">vcg@omoco.de</a><br><a href="http://vcg.omoco.de">http://vcg.omoco.de</a><br><br>
			Ich freue mich über jeden gefundenen Fehler und Verbesserungsvorschlag.<br>
			<hr>
			<b>Danksagungen</b><br><small>
			- Bastian und David dafür, dass sie<br>mir geholfen haben, diese groß-<br>artige Idee voran zu bringen<br>
			- Openstreetmap und allen<br>Mitwirkenden für die Karte<br>
			- Booyabazooka für das Ball<br>Bild (CC BY-SA 3.0)<br>
			- Danke allen Betatestern!<br><br></small>
		</center>
    </div>
</div>