<div id="main">
    <div id="main-body" class="itemFull">
    	<div id="waitforgps"><br><br><center><h2>Warte auf GPS Fix</h2></center><br><div x-mojo-element="Spinner" id="waiting_spinner" style="margin:auto"></div></div>
		<div id="shoot_accel"><center><table width=320 border=0 cellpadding=15 cellspacing=0><tr><td><small>
			<div style="padding:6px; color:#ffffff" id="shoot_accel_1">1. Gerät nach unten halten, Display vom Körper weg. Eine kurze Vibration zeigt an, dass du nun schlagen kannst.</div>
			<div style="padding:6px; color:#ffffff" id="shoot_accel_2">2. Nun wie mit einem Golfschläger schlagen. Die Lautstärkebuttons zeigen in Schlagrichtung.</div>
			<div style="padding:6px; color:#ffffff" id="shoot_accel_3">3. Gerät wieder in normale Bedien- position bringen. Eine Vibration zeigt an, dass der Schlag nun beendet ist.</div>
		</td></tr></table><img src="images/shoot_accel.png"></small></center><div style='width:100px' id='shoot_accel_cancel' class='palm-button'>Abbr.</div></div>
		<div id="shoot"></div>
		<div id=holein><div id="holein_info"></div><div id="holein_hs"></div></div>
		<div id="toofartoball"></div>
		<div id="toolowacc"></div>
		<div id="info"></div>
		<div id="map"></div>
		<div id="slider_bearing" x-mojo-element="Slider"></div>
		<div id="slider_bearing_bg" style="background-image:url(images/bearing_bg_de.png);"></div>
		<div id="slider_power" x-mojo-element="Slider"></div>
		<div id="slider_power_bg" style="	background-image:url(images/power_bg_de.png);"></div>
    </div>
</div>