<div id="main">
    <div id="main-body" class="itemFull">
    	<br><center><u><b>Einstellungen</b></u></center><br>
		<div class="palm-group">
			<div class="palm-group-title" x-mojo-loc=''>Dein Name für die Highscore</div>
			<div class="palm-list">
		   		<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
		      				<div id="settings_name_hs" name="textField"  x-mojo-element="TextField"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<table class="palm-list-section-label">
			<tr>
				<td>
					<span x-mojo-loc="">&nbsp;&nbsp;Highscore übertragen:</span>		
				</td>
				<td>
					<div id="settings_upload_hs" x-mojo-element="ToggleButton" class="toggle-text"></div>
				</td>	
			</tr>
		</table>
		<table class="palm-list-section-label">
			<tr>
				<td>
					<span x-mojo-loc="">&nbsp;&nbsp;Highscore twittern:</span>		
				</td>
				<td>
					<div id="settings_twitter_hs" x-mojo-element="ToggleButton" class="toggle-text"></div>
				</td>	
			</tr>
		</table>
		<table class="palm-list-section-label">
			<tr>
				<td>
					<span x-mojo-loc="">&nbsp;&nbsp;Slider auf 0 nach Schlag:</span>		
				</td>
				<td>
					<div id="settings_reset_slider" x-mojo-element="ToggleButton" class="toggle-text"></div>
				</td>	
			</tr>
		</table>
		<table class="palm-list-section-label">
			<tr>
				<td>
					<span x-mojo-loc="">&nbsp;&nbsp;Kartentyp:</span>		
				</td>
				<td>
					<div id="settings_map_type" x-mojo-element="ToggleButton" class="toggle-text"></div>
				</td>	
			</tr>
		</table>
		<button id='settings_save' class='palm-button'>Speichern</button>
    </div>
</div>