<div id="main">
    <div id="main-body" class="itemFull">
    	<br><center><u><b>VirtualCrossGolf FAQ's</b></u><br>
		<small>
		<table border=0 cellpadding=5 cellspacing=0>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b>Why do I have near to the ball?</b><br>Because if not this game would not make sense.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b>The game does not start because of GPS deviation.</b><br>To play you have to make sure that the accuracy of the GPS is very high. This is mandatory to proove that you are really near the ball. You have to be outside and directly under the sky. If this does not work try to re-enable GPS and restart the phone. Sometimes GPS gets stuck. 
				</td>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b>I still can not play.</b><br>Please contact me via mail (<a href="mailto:vcg@omoco.de">vcg@omoco.de</a>) I will help you with this problem. 
				</td>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b>What is Mapnik / Osmarender?</b><br>This are two types to display the map. It does not affect the gameplay. Choose what you like more.
				</td>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b>How can I delete a course?</b><br>This is currently not possible.
				</td>
			</tr>
		</table>
		</small>
		<br><br>
    </div>
</div>
