<div id="main">
    <div id="main-body" class="itemFull">
    	<br><center><u><b>About this Program</b></u>
			<h2>VirtualCrossGolf 1.0.2</h2>
			A Program by<br>Sebastian Hammerl<br><br>
			Contact:<br><a href="mailto:vcg@omoco.de">vcg@omoco.de</a><br><a href="http://vcg.omoco.de">http://vcg.omoco.de</a><br><br>
			Please let me know any error or enhancement.<br><br>
			<hr>
			<b>Credits</b><br><small>
			- Bastian and David for helping<br>me developing this great idea.<br>
			- Openstreetmap and all<br>contributors for the map<br>
			- Booyabazooka for the ball<br>image (CC BY-SA 3.0)<br>
			- Thanks to all Betatesters!<br><br></small>
		</center>
    </div>
</div>