<div id="main">
    <div id="main-body" class="itemFull">
    	<br><center><u><b>VirtualCrossGolf FAQ's</b></u><br>
		<small>
		<table border=0 cellpadding=5 cellspacing=0>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b>Warum muss ich nahe am Ball sein?</b><br>Weil das Spiel sonst keinen Sinn machen würde.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b>Das Spiel startet nicht, weil die Abweichung zu hoch ist.</b><br>Um zu spielen muss eine hohe Genauigkeit des GPS Signals vorliegen. Das ist nötig, damit sichergestellt werden kann, dass du auch wirklich in der Nähe des Balles bist. Du musst dich draußen und unter freiem Himmel befinden, damit du einen guten Empfang hast. Wenn es trotzdem nicht geht, versuche GPS einmal aus und wieder anzuschalten und das Telefon neu zu starten. Manchmal geht es einfach nicht mehr. 
				</td>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b>Ich kann immer noch nicht spielen.</b><br>Bitte kontaktiere mich per E-Mail (<a href="mailto:vcg@omoco.de">vcg@omoco.de</a>). Ich kann dir dann helfen das Problem zu lösen. 
				</td>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b>Was ist Mapnik / Osmarender?</b><br>Das sind zwei Ansichten der Karte. Die Wahl hat keinen Einfluss auf das Spiel. Wähle die Ansicht aus, die dir besser gefällt.
				</td>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b>Wie kann ich einen Kurs löschen?</b><br>Das ist zur Zeit nicht möglich.
				</td>
			</tr>
		</table>
		</small>
		<br><br>
    </div>
</div>
