<div id="main">
    <div id="main-body" class="itemFull">
    	<br><center><u><b>VirtualCrossGolf Tutorial</b></u><br>
		<small>Plaese read!</center>
		<table border=0 cellpadding=5 cellspacing=0>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<b><center>Important!</center>GPS has to be turned or you will not be able to play this game. Be patient while the map is loading it takes some time. You can play without the map has finished loading.</b>
				</td>
			</tr>
		</table>
		<button id='open_faq' class='palm-button'>FAQ's</button>
		<table border=0 cellpadding=5 cellspacing=0>
			<tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot1.png">
					<b>The first time</b> you start you have to set your name at the settings dialog. This is the name for the global highscores. You also can set other settings here. "Save" saves the data.
				</td>
			</tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot2.png">
					You can reach the settings via the menu. There you can change them anytime.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot3.png">
					<b>The first game mode</b> is a randomly generated golf course. The ball is placed at your actual position. The distance and direction of the hole can be set by the listselector. This game mode has no highscore.
				</td>
			</tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot4.png">
					<b>In the second game mode</b> already created courses around you are downloaded. All courses in 5km radius are displayed at the list. The number in brackets tell you the distance to the start of the course. Additionally there is information and the highscore displayed for each course.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot5.png">
					<b>To create a new course</b> you have to go to the place where the future hole should be. Then press "Set Hole." Now go to the start position to set the ball.
				</td>
			</tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot6.png">
					After filling out the other forms with information and rules the course can be uploaded to the server. After uploading the course-select scene is displayed where you can choose your created course.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot7.png">
					<b>The map</b> shows you your position by the red circle. The arrow indicates the direction of the shot. Additionally the golfball and the hole are displayed. Use the left 3 buttons to zoom and recenter the map. You can move around by dragging with your finger.
				</td>
			</tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot8.png">
					The button at the center adds a new ball to the map. This is only allowed when the course is generated. On the right there are your two ways to shoot the ball. "A" is the stroke with the help of the acceleration sensor in the phone. The other is a normal stroke. After a stroke click the screen to get back to the map.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot9.png">
					<b>To shoot</b> you have to be near to a ball. Also the GPS accuracy has to be good to proove that you are really near the ball. After a stroke the position of the ball is calcutaled and it is displayed at the new positions. The normal stroke uses the lower slider to calculate the shoot distance. The upper slider shows you the direction at both stroke types. Follow the ball to its new position to shoot again.
				</td>
			</tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot10.png">
					To make an acceleration stroke just follow the directions at the screen. The distance at this type is calculated by the power you move the phone.
				</td>
			</tr><tr><td><hr width=85%></td></tr><tr>
				<td valign=top>
					<img align="right" src="images/tutorial/snapshot11.png">
					<b>If the ball</b> is near the hole, then its a hole-in. You get statistics about the your game and the highscore is being displayed. If it is activated your score is uploaded to the highscore. With a click at the display you get back to the main screen.
				</td>
			</tr><tr><td><hr width=85%></td></tr>
		</table>
		</small>
		<button id='tutorial_close' class='palm-button'>Close</button>
    </div>
</div>
